h1 {
    background-color:#000000;
    color:#ffff00;
    text-align:center;
    font-size:60px;
}

#yellow {
    background-color:#ffff00;
}

#red {
    background-color:#ff0000;
    color:#ffffff;
    text-align:center;
}

#black {
    background-color:#000000;
}

#orange {
    background-color:#ffa500;
    text-align:center;
    font-weight:bold;
}

.content {
    width:60%;
    margin:auto;
}

img {
    width:90%;
    display:block;
    margin:auto;
}